RewriteEngine on
RewriteCond %{HTTP_HOST} ^blokserwis.pl [nc]
RewriteRule ^(.*)$ http://www.blokserwis.pl/$1 [r=301,nc]

#Przekierowanie nie www > www

RewriteRule ^index.(php|html|htm)$ / [R=301,L]
RewriteRule ^([a-z0-9-_]+)/index.(php|html|htm)$ /$1/ [R=301,L]

#Przekierowanie index.html/php do strony głównej

RewriteRule ^domofony-lodz$ domofony_lodz.html [L]
RewriteRule ^wideodomofony-lodz$ wideodomofony_lodz.html [L]
RewriteRule ^monitoring-lodz$ monitoring_lodz.html [L]
RewriteRule ^naprawa-monitoringu-lodz$ naprawa_monitoringu_lodz.html [L]
RewriteRule ^naprawa-wideodomofonow-lodz$ naprawa_wideodomofonow_lodz.html [L]
RewriteRule ^konserwacja-domofonow-lodz$ konserwacja_domofonow_lodz.html [L]
RewriteRule ^montaz-wideodomofonow-lodz$ montaz_wideodomofonow_lodz.html [L]
RewriteRule ^serwis-domofonow-lodz$ serwis_domofonow_lodz.html [L]
RewriteRule ^serwis-wideodomofonow-lodz$ serwis_wideodomofonow_lodz.html [L]


#Ładne adresy URL adres 1: Adres wyświetlany adres 2: Docelowy plik otwierany z serwera

RewriteEngine On
RewriteCond %{HTTPS} !=on [NC]

RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]